<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444243800132-668hnkdpdb2ha0utfd6ufm3664eijjfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444243800132-668hnkdpdb2ha0utfd6ufm3664eijjfp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444243800132-flpu0g25h957vsvs47mur933gh25eid6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Nz3JiDIr1cEwJT74Zk3kt_isGcNarAs</string>
	<key>GCM_SENDER_ID</key>
	<string>444243800132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPushNotificationsApp</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-682c1</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-682c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444243800132:ios:0db7d22c39c52712a58c11</string>
</dict>
</plist>